extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/register_record_page') Register record
  br
  a(href='/update_record_page') Update record
  br
  a(href='/send_record_page') Send record to HIE
  br
