extends layout

block content
  p.
    Please type the identifier(prescription id) given by doctors
  form(name="", method="post", action="/register_record")
    div(class="form-group")
      table(class="table table-bordered")
        tr
          td.
            Prescription id
          td
            input(type="text", name="record_id", class="form-control")
    div(class="text-center")    
      input(type="submit", name="submit", value="submit", class="btn btn-default")

