doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    if redirect_url
      script(type="text/javascript").
        redirect_url = "#{redirect_url}";
        function redirect() {
          setTimeout(function() {
            window.location.href = redirect_url;
          }, 2000);
        }

        $(document).ready(function() {
            redirect();
        });

  body
    div(class="container")
      if title
        div(class="header")
          h1= title
      block content

