.header {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.claimdef-table {
  table-layout: fixed;
  width: 100%;
}

.claimdef-table td {
  word-wrap: break-word;
}

/*
.table tr {
  text-align: center !important;
}
*/

a {
  color: #00B7FF;
}
