extends layout

block content
  h1 Choose what to authenticate

  form(name="", method="post", action="/authenticate_hie")
    div(class="form-group")
    table(width="320", class="table")
      tr
        th(width="10")
        th="Prescription id"

      for def in def_list
        tr
          td
            input(type="radio" name="selection" value=def)
          td=def
    
    br
    div(class="text-center")
      input(type="submit", name="submit", value="submit" class="btn btn-default") 

