extends layout

block content
  br
  div(class="panel panel-info") 
    div(class="panel-heading") Response
    div(class="panel-body") 
      p req used: #{req}
      p Encrypted: #{encrypted_result}
      p Decrypted: #{decrypted_result}

