extends layout

block content
  p Welcome to #{title}

  ul(class="list-group")
    li(class="list-group-item list-group-item-info") 
      strong Status: 
      | #{login_status}

  div(class="list-group")
    a(class="list-group-item" href="/req_permission_page") Request Permission
    a(class="list-group-item" href="/authenticate_hie_page") Authenticate HIE
    //- TODO: Need to change this one: imporvements
    if login_status != "Not logged in"
      a(class="list-group-item" href="/get_data") Get result
      a(class="list-group-item" href="/logout") Logout
