extends layout

block content
  h1 Request Permission
  form(name="", method="post", action="/req_permission")
    table
      tr
        td.
            Name
        td.
            filler
            
      tr
        td. 
            filler2
        td.
            filler3
      tr
        td.
            filler 4
        td
            input(type="submit", name="submit", value="submit")

