extends layout

block content
  form(name="", method="post", action="/req_permission")
    div(class="form-group")
      table(class="table table-bordered")
        tr
          td
            | Prescription id
          td
            input(type="text", class="form-control", name="record_id")
        tr
          td
            | user address(url)
          td
            input(type="text", class="form-control", name="user_address")
            
    input(type="hidden", name="req_src_address", value="#{this_url}")
    div(class="text-center")
      input(type="submit", name="submit", value="submit" class="btn btn-default")

