extends layout

block content
  p Welcome to #{title}

  div(class="list-group")
    //- a(class="list-group-item" href="/add_claimdef_page")
      h4(class="list-group-item-heading") Create new claim definition
      p(class="list-group-item-text") This creates new claim definition
    a(class="list-group-item" href="/allow_permission_page")
      | Allow permission
    a(class="list-group-item" href="/list_claimdef")
      | List claim definition
    a(class="list-group-item" href="/list_user")
      | List users
    a(class="list-group-item" href="/revocate_user_page")
      | revocation feature
