extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/add_claimdef_page') Create new claim definition
  br
  a(href='/list_claimdef') List claim definition
  br
  a(href='/allow_permission_page') Allow permission 
  br
  a(href='/list_user') List users
  br
